<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
</head>
<body>
    <h1>Profile Page</h1>
    <p>Name: <%= user.first_name %> <%= user.last_name %></p>
    <a href="/">Home</a>
    <a href="/about">About</a>
</body>
</html>
